<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Administradores</title>
</head>
<body>
<header>
    <h1>Lista de Administradores</h1>
</header>
<main>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="admin : ${admins}">
            <td th:text="${admin.id}"></td>
            <td th:text="${admin.name}"></td>
            <td th:text="${admin.email}"></td>
            <td>
                <a th:href="@{'/admin/edit/' + ${admin.id}}">Editar</a>
                <a th:href="@{'/admin/delete/' + ${admin.id}}">Excluir</a>
            </td>
        </tr>
        </tbody>
    </table>
</main>
</body>
</html>