<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Médicos</title>
</head>
<body>
<header>
    <h1>Lista de Médicos</h1>
</header>
<main>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Email</th>
            <th>CRM</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="doctor : ${doctors}">
            <td th:text="${doctor.id}"></td>
            <td th:text="${doctor.name}"></td>
            <td th:text="${doctor.email}"></td>
            <td th:text="${doctor.crm}"></td>
            <td>
                <a th:href="@{'/doctor/edit/' + ${doctor.id}}">Editar</a>
                <a th:href="@{'/doctor/delete/' + ${doctor.id}}">Excluir</a>
            </td>
        </tr>
        </tbody>
    </table>
</main>
</body>
</html>