<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Pacientes</title>
</head>
<body>
<header>
    <h1>Lista de Pacientes</h1>
</header>
<main>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="patient : ${patients}">
            <td th:text="${patient.id}"></td>
            <td th:text="${patient.name}"></td>
            <td th:text="${patient.email}"></td>
            <td>
                <a th:href="@{'/patient/edit/' + ${patient.id}}">Editar</a>
                <a th:href="@{'/patient/delete/' + ${patient.id}}">Excluir</a>
            </td>
        </tr>
        </tbody>
    </table>
</main>
</body>
</html>