<form (ngSubmit)="onSubmit()">
  <div>
    <label for="name">Nome:</label>
    <input id="name" [(ngModel)]="user.name" name="name" required>
  </div>
  <div>
    <label for="cpf">CPF:</label>
    <input id="cpf" [(ngModel)]="user.cpf" name="cpf" required>
  </div>

  <div>
    <label for="email">Email:</label>
    <input id="email" [(ngModel)]="user.email" name="email" required>
  </div>
  <div>
    <label for="password">Senha:</label>
    <input id="password" type="password" [(ngModel)]="user.password" name="password" required>
  </div>
  <button type="submit">Registrar</button>
</form>